{% extends "layout.html" %}
{% block body %}
<h2 id="monitor_header">We want to show you how to work out!</h2>
	<form method='POST' action="{{ url_for('display_videos') }}">
		<div id="url_input">
			<div id="submit_button">
				<input type='submit' value = "Start Your Workout">
			</div>
		</div>
	</form>
	<div id="response">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
				<p>{{ message }}</p>
				{% endfor %}
			{% endif %}
		{% endwith %}
	</div>
{% endblock %}